$overlay: rgba(0, 0, 0, 0.8);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: url("../../../assets/Img/heros.webp") no-repeat bottom
    center/cover;
  height: 80vh;
  width: 100%;
}

header {
  .overlay {
    background: $overlay;
    width: 100%;
    height: 100%;
  }
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 2rem;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  font-size: 1.1rem;
  border-radius: 30px;
  color: #fff;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p {
  font-size: 20px;
}

.inner-text {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 860px;
  padding: 5rem 0;
}

.main {
  background: #fff;
  width: 100%;
  height: 100%;
}

.row {
  .icon {
    text-align: center;
    margin: 5px 0px;
  }
}

.sub-main {
  background: #3d7eaa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffe47a,
    #3d7eaa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffe47a,
    #3d7eaa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 500px;
  width: 100%;

  .row {
    height: 100%;
    margin: auto;
    overflow: hidden;

    .text {
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      flex-direction: column;

      ul {
        text-align: center;
        
      }
    }

    .video {
      overflow: hidden;

    }
    
    video {
      margin-top: 80px;
      width: 500px;
      height: 300px;
    }
  }
}

ul {
  list-style-type: none;
}

@media (max-width: 767px) {
  
  .sub-main {
    height: 600px;
  }
  
}